<h1> Please use one of the following Endpoints :)</h1>
<br>
<div class="getEndpoints">
    <h2>GET Endpoints</h2>
    <div class="checkelo">
        <h3> /checkelo  </h3>
        <p>Parameter: username, limit (default limit = 5 Games)</p>
    </div>
    <br>
    <br>
    <div class="matchhistory">
        <h3> /matchhistory  </h3>
        <p>Parameter: username, limit (default limit = 5 Games)</p>
    </div>
    <br>
    <div class="elo">
        <h3> /elo  </h3>
        <p>Parameter: username</p>
    </div>
</div>
<br>
<br>
<br>